body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:white;
}

.container {
  text-align: center;
  padding: 30px;
}

.card {
  background: white;
  width: 500px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #125aa0;
}

h1 {
  color: #1976d2;
}

h2 {
  color: black;
}

input {
  margin: 10px;
}